
.DS_Store

.gradle/*

build/*

.settings/*

.project

.classpath

.cache

specs2_2.9.2-1.12.1.jar

bin/*

target/*

argot_2.9.2-0.4.jar

commons-io-1.3.2.jar

sample.scala

test.scala

lift-json-2.0.jar

grizzled-scala_2.9.0-1.0.6.jar

testout.txt

testFinallyTimeout.txt

testStandardOut.txt

testTimeout.txt

.ensime_lucene/_0.fnm

.ensime

.ensime_lucene/*

workerTestLogs/*
